[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
geopandas = "*"
rasterio = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
shapely = "*"
cdsapi = "*"
netcdf4 = "*"
xarray = "*"
scikit-learn = "*"
lightgbm = "*"
xgboost = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
